<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">НОВОСТИ</div>
		<article class="postcard light blue">
			<a class="postcard__img_link">
				<img class="postcard__img" src=".\assets\calculator.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a>Калькулятор калорий онлайн</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Месяц, Апрель 7-ого 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Самый простой способ похудеть – это начать потреблять меньше калорий, чем наш организм расходует в течение дня, после чего, вес в обязательном порядке будет постепенно снижаться. На этой странице можно найти калькулятор калорий, с помощью которого можно рассчитать оптимальную норму потребления белков, жиров и углеводов в ежедневном рационе. Кроме того, предлагаем средства для расчета калорийности готовых блюд, а также определения индекса массы тела, позволяющего выявить оптимальные показатели веса при вашем росте и других индивидуальных параметрах.

          Используя подобные приложения, Вы сможете оптимизировать и улучшить свой рацион питания, отказавшись от излишков, и быстро заметите позитивные изменения.</div>
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link">
				<img class="postcard__img" src=".\assets\concurent.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a>Преимущества</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Месяц, Апрель 7-ого 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Приложения для расчета КБЖУ готовых блюд имеет ряд важных преимуществ:

          Простота в использовании – не нужно самостоятельно искать формы и проводить сложные вычисления. Просто укажите основную информацию по конкретному блюду и сразу получите результат;
          Развернуая картина – по каждому продукту предоставляется точная таблица содержания КБЖУ, в результате можно узнать не только энергетическую ценность, но и полезность пищи в тех или иных обстоятельствах, при похудении или наборе массы;
          Быстрый и точный результат – приложение настроено и оптимизированно для точной работы, Вы можете использовать полученные значения при составлении ежедневного рациона.</div>
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link">
				<img class="postcard__img" src=".\assets\food.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a>Калькулятор индекса массы тела</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Месяц, Апрель 7-ого 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Индекс массы тела – показатель свидетельствующий о наличии или отсутствии избыточной массы тела, позволяющий определить процент содержания жира. Вычисления производятся на основе индивидуальных данных. В частности потребуется указать Ваш рост, вес, возраст. После вычислений, программа сообщит о результатах. В частности, будет указан оптимальный вес, а также данные о наличие или отсутствии избыточной массы. Располагая полученными данными, в дальнейшем можно понять алгоритм действий для устранения имеющихся проблем.</div>
			</div>
		</article>
	</div>
</section>



      <div class="container">
        <div class="row ">
          <div class="col-md-4">
            <div class="article text-justify">
              <img src=".\assets\news1.jpg" class="im" alt="article-image">
              <h3>Занятия йогой для начинающих</h3>
              <p>Занятия йогой могут стать хорошим способом поддерживать здоровье и хорошее настроение. Для начинающих важно выбрать правильный уровень занятий и не перегружать свое тело.</p>
              <a href="https://mag.103.by/zdorovje/28543-10-asan-ot-joga-instruktora-dlya-nachinajushhih/" target="_blank" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="article text-justifyr">
              <img src=".\assets\news2.jpg" class="im" alt="article-image">
              <h3>Как правильно питаться, чтобы не навредить здоровью</h3>
              <p>Правильное питание является важным компонентом здорового образа жизни. Важно следить за качеством и количеством потребляемой пищи, а также учитывать индивидуальные особенности организма.</p>
              <a href="https://www.sportmaster.ru/media/articles/41306483/?utm_source=yandex&utm_medium=cpc&utm_campaign=statiy_search_rf_principy-zdorovogo-pitania&utm_content=ST:search%7CS:none%7CAP:no%7CPT:premium%7CP:2%7CDT:desktop%7CRI:39%7CRN:Ростов-на-Дону%7CCI:84715429%7CGI:5151038026%7CPI:43742985167%7CAI:13675426050%7CKW:правила%20здорового%20питания&_openstat=ZGlyZWN0LnlhbmRleC5ydTs4NDcxNTQyOTsxMzY3NTQyNjA1MDt5YW5kZXgucnU6cHJlbWl1bQ&yclid=1093455587043442687" target="_blank" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="article text-justify">
              <img src=".\assets\news3.jpg" class="im" alt="article-image">
              <h3>Преимущества занятий спортом на свежем воздухе</h3>
              <p >Занятия спортом на свежем воздухе могут помочь поддерживать здоровье, укреплять иммунную систему и улучшать настроение. Важно выбрать подходящий вид спорта и соблюдать меры предосторожности.</p>
              <a href="https://www.newhorizons.ru/news/7-prichin-pochemu-trenirovka-na-svezhem-vozdukhe-luchshe-chem-v-sportzale/" target="_blank" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>
      </div>