<!-- Хэдэр -->
<header *ngIf="(reg)">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <img src=".\assets\icon.png" class = 'logo_head' alt="Logo">
    <a class="navbar-brand">Дневник здорового питания</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/main">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diary">Дневник</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculator">Калькулятор</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/report">Отчет</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" (click)="clear()">Выход</a>
        </li>    
      </ul>
    </div>
  </nav>
</header>

  <!-- Основное содержимое страницы -->
  <router-outlet></router-outlet>

  <!-- Футэр -->
  <footer class="bg-dark text-light" *ngIf="(reg)">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src=".\assets\icon.png" alt="Logo">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <h5>О нас</h5>
              <ul class="list-unstyled">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Навигация</h5>
              <ul class="list-unstyled">
                <li><a routerLink="/main">Главная</a></li>
                <li><a routerLink="/diary">Дневник</a></li>
                <li><a routerLink="/calculator">Калькулятор</a></li>
                <li><a routerLink="/report">Отчет</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Социальные сети</h5>
              <ul class="list-unstyled">
                <li><a href="https://vk.com/a.kharitonov99">VK</a></li>
                <li><a href="https://t.me/PopAtush">Telegram</a></li>
                <li><a href="https://github.com/antonkhar">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Контакты</h5>
          <address>
            <strong>Название компании</strong><br>
            123 улица, город<br>
            Страна<br>
            <abbr title="Phone">Тел:</abbr> (123) 456-7890
          </address>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Дневник здорового питания. Все права защищены.</p>
        </div>
      </div>
    </div>
  </footer>